
@{
    ViewBag.Title = "js1";
}

<h2>js1</h2>

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script>
    $(document).ready(function () {
        $("button").click(function () {
            $.get("/AgeCalculator/Jsexample", function (data) {
                alert("Your age is: " + data);
            });
        });
    });
</script>
<form>
    <label>Enter your Age:</label>
    <input type="number" id="ageInput" />
</form>

<button class="btn-dark">Age Calculator</button>
